body {
  padding: 40px;
  text-align: center;
  background: #283B5B;
  color: #97B2D1;
}
h1 {
  font-size: 50px;
}
a {
  color: #5E7A9F;
}
a:hover {
  color: #97B2D1;
}
p {
  margin-bottom: 50px;
}

.container {
  width: 600px;
  margin: 0 auto;
}
.container > * {
  font-size: 30px;
  width: 300px;
  float: left;
}
.container > * span {
  font-size: 40px;
}
.container > *.wins span,
.percent .green {
  color: #97d1b6;
}
.container > *.losses span,
.percent .red {
  color: #d19f97;
}
.percent {
  clear: both;
  font-size: 30px;
  padding-top: 50px;
}
